.DS_Store
node_modules/
src/node_modules/
yarn-error.log
__sapper__/

static/img/actions/
static/img/compiliations/
static/img/excursions/
static/img/tours/
static/img/partners/
static/img/hotels/
static/sitemap.txt
src/mail_service/tests.js

reports/

svelte.config.js
__safety/
