$Pale_Blue: #358FC1;
$Dark_Blue: #0289D0;
$Dark_Gray: #7C7C7C;
$MaxDark_Gray: #4D5062;
$Gray: #D6D6D6;
$Light_Gray: #EFEFEF;
$Medium_Gray: #C4C4C4;
$Light_Black: #2B2B2B;
$Light_Blue: #67B6FF;
$Green: #87D639;
$Orange: #FFC700;
$Blue_Gradient: linear-gradient(109.85deg, #0A92DB 7.11%, #117BCD 78.9%);
$Dark_Blue_Gradient: linear-gradient(103.57deg, #0052B4 48.28%, rgba(0, 82, 180, 0) 99.29%), linear-gradient(114.29deg, #0A92DB 7.11%, #117BCD 78.9%);
$Orange_Gradient: linear-gradient(315deg, #F8A822 26.87%, #FCD41F 91.87%);
$Blue: #0A92DB;